{% extends "layout.html" %}
{% block body %}
 <h1>Tic Tac Toe</h1>
 <div id="board">
    <table border=1>
      <tr id="row1">
        <td id=cell00 height=50 width=50 align=center valign=center>&nbsp;</td>
        <td id=cell10 height=50 width=50 align=center valign=center class="square">&nbsp;</td>
        <td id=cell20 height=50 width=50 align=center valign=center class="square">&nbsp;</td>
      </tr>
      <tr id="row2">
        <td id=cell01 height=50 width=50 align=center valign=center class="square">&nbsp;</td>
        <td id=cell11 height=50 width=50 align=center valign=center class="square">&nbsp;</td>
        <td id=cell21 height=50 width=50 align=center valign=center class="square">&nbsp;</td>
      </tr>
      <tr id="row3">
        <td id=cell02 height=50 width=50 align=center valign=center class="square">&nbsp;</td>
        <td id=cell12 height=50 width=50 align=center valign=center class="square">&nbsp;</td>
        <td id=cell22 height=50 width=50 align=center valign=center class="square"></td>
      </tr>
    </table>
  </div>
 <h2 id='winner'></h2>
 <form action="/">
   <input type="submit" value="Start over!"></input>
 </form>
{% endblock %}
